* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background: radial-gradient(circle, #ff0000 0%, #000000 80%);
}

/* MAIN / Container*/
#main-container {
    border: 0px solid;
    background: #0f0f0f;
    color: #E6E6E6;
    height: auto;
    width: 50%;
    min-height: 400px;
    border-radius: 15px;
    margin: 0 auto;
}

/* Container / JS */
.container {
    display: none;
}

.container.show {
    display: block;
    padding: 0 2rem 2rem 2rem;
}

/* Section Buttons */
.click-options {
    height: 3rem;
    width: 75%;
    margin: 3rem auto;
    padding: 0;
    background: #0f0f0f;
    border-bottom: 1px solid rgb(168, 168, 168);
    color: rgb(168, 168, 168);
    
}

.click-options ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

.buttons {
    text-decoration: none;
    color: rgb(168, 168, 168);
    padding: 0.5rem 1rem 0.5rem 1rem ;
    border-radius: 0.5rem 0.5rem 0 0;   
    opacity: 0.4;
    transition: 0.5 ease;
}

.buttons:hover {
    background-color: rgb(168, 168, 168);
    color: #E6E6E6;
    opacity: 0.8;
}

.buttons.active{
    background-color: rgb(168, 168, 168);
    color: #E6E6E6;
    opacity: 1;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

/* Section Portfolio */
#portfolio {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
    color: rgb(168, 168, 168);
}

/* Section Home */
.container-home{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
}

#right-home img {
    height: 30vh;
    width: 25vh;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

#left-home h1 {
    margin-bottom: 2rem;
}

#left-home p {
    margin: 0 2rem 0.5rem 0;
    text-align: justify;
}

/* Section Curse */
#curse ul{
    text-align: center;
    align-items: center;
    list-style: none;
}

/* Section Project */
.projGuiado img {
    height: 50vh;
}

.projGuiado {
    text-align: center;
}

#skills, #contact{
    text-align: center;
}

summary {
    margin-bottom: 1rem;
}

figcaption a {
    text-decoration: none;
    color: rgb(133, 14, 14);
}

/* Img - Project / Skills */
#img-port{
    font-size: 3rem;
    color: #E6E6E6;
    padding: 0.5rem;
    opacity: 0.5;
}

#img-port:hover {
    opacity: 1;
}

.fa-brands, .fa-solid{
    text-decoration: none;
}
